#ch{
    background-image: url("../imagens/Chainsawman.jpg");
    background-size: cover;
}

#bts{
    background-image: url("../imagens/bts-equipe.webp");
    background-size: cover;
    color: white;
}
#r6{
    background-image: url("../imagens/round6.webp");
    background-size: cover;
    color: white;
}

.teste{
    height: 500px;
    width: 500px;
}