body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
}

#login .container #login-row #login-column #login-box #login-form{
    margin-top: 120px;
    max-width: 600px;
    height: 750px;
    background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
    /* border: 1px solid #9C9C9C;
    background-color: #EAEAEA; */
    padding: 20px;
    margin-top: 0;
}
#envio{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #391f57;
    /*color: black;*/
    border:#391f57;
}

.barra{
    background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
}